


// Main layout styles go here
 #container {
		width:100%;
		margin:10px 0 0 0;
		//@include rem(margin, 2%, 2%);

		
		#central {

			width: 94%;
			padding: 3%;		
	
			
			@include breakpoint(medium){
				margin-top: 10px;
			}

			@include breakpoint(large){
				max-width: 800px;
				margin: 0 auto;
				margin-top: 10px;
				
				img {
						margin: 0 auto;
				}

				box-sizing: border-box;
			}

			@include responsive('min-width: 890px') {
				padding: 20px;
			}

			#body {

				#gallery {

					max-width: 500px;
					margin: 0 auto;

					img {
						margin-bottom: 30px;
					}
				}

				#about {
					p {
						margin-bottom: 0px;
					}
				}
			}

			
		}
		
	
	header {	

		
		#logo {

		  	text-align: center;
		 	color: $primary-color;
			@include rem(font-size, 24px);
			@include rem(line-height, 10px);

			@include responsive('min-width: 400px') {
			 	@include rem(font-size, 29px);
			 	@include rem(margin-bottom, 33px);
			 	margin: 2.5%;

			}

			@include breakpoint(medium){
				@include rem(font-size, 36px);
				@include rem(margin-top, 55px);
				
				
			}

			@include breakpoint(large){
				@include rem(font-size, 38px);
				@include rem(margin-top, 55px);
				
			}

		  		a {
		    		color: $primary-color;
		  		}	  
		}

		#mobile_nav {

			@include breakpoint(medium){
				display: none;
			}

		}

		#nav {
			
			margin: 0 auto;
			overflow: hidden;
			display: none;
			text-align: center;

			@include breakpoint(medium){
				display: block;
			}

		}

		#header-area {

				

		}

	}

	
}
	 	




