body {


// Main layout styles go here
 #container {
		width:100%;
		margin:10px 0 0 0;
		//@include rem(margin, 2%, 2%);


	header {

		
		#logo {

		  	text-align: center;
		 	 color: $primary-color;
			@include rem(font-size, 35px);
			@include rem(margin-top, 25px);
			@include rem(line-height, 70px);

			@include breakpoint(medium){
				@include rem(font-size, 55px);
				@include rem(margin-top, 65px);
				@include rem(line-height, 70px);
			}

			@include breakpoint(large){
				@include rem(font-size, 70px);
				@include rem(margin-top, 90px);
				@include rem(line-height, 70px);
			}



		  		a {
		    		color: $primary-color;
		  		}	  
		}

		@include breakpoint(medium){
			display: block;
		}

	



		#nav {
			width: 335px;
			margin: 0 auto;

			overflow: hidden;
			display: none;

			@include breakpoint(medium){
				display: block;
				

			}

			.navigation {
				border: none;

				li {
					padding: 0px 15px 0 15px;
				}

			}		
		}

		#header-area {

				#mobile_nav {		
					li {

						&:hover {
							background:$fifth-color;
						}
					}
				}

			@include breakpoint(medium){
					
				#mobile_nav {		
					display: none;
				}

				#nav {
				
					display: block;

				}
			}		
		}

	}

	#central {

		width: 96%;
		padding: 2%;		
	}

	 	
}




.navigation {
  max-width: none;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $fourth-color;

  &.nav-selected {
		color: $primary-color;

	}
}

.navigation li {
  float: left;
  text-decoration: none;
  list-style: none;
  text-align: center;
  @include rem(font-size, 25px);
  text-transform: uppercase;
	
	@media only screen and (max-width: 550px) {

		&.nav-selected {
		  	background: $fifth-color;
		}

	  	a {
	  	display: block;
	  	color: $secondary-color;
	  	padding: 10px;

	  		&.nav-selected {
		  	color: $primary-color;
		  	font-size: 20px;
			}

	  	}

  	}
}


.navigation li a:hover {
  color: $primary-color;
}

.navheader { 
  font-size: 12px;
}

.slide-trigger {
  display: none; /* need this */
  border-top: 1px solid $fourth-color;
  border-bottom: 1px solid $fourth-color;
  cursor: pointer;
  padding: 13px 0px;
  @include rem(font-size, 25px );
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .slide-trigger { display: block; }
    .no-js .slide-trigger { display: none; }
  .navigation { display: none; }
    .no-js .navigation { display: block; }
  .navigation { margin: 0 15px; }
  .navigation li { float: none; }
  .navigation li a { border-bottom: 1px solid #fff; }
}

}

@include breakpoint(medium) {

header {

	#nav {
	 	width: 500px;
	 		li {
		
			  	a {
			  	display: block;
			  	color: $secondary-color;
			  	padding: 10px;
				@include rem(font-size, 32px );
				}
	 		}
	}

}
}
