


// Main layout styles go here
 #container {
		width:100%;
		margin:10px 0 0 0;
		//@include rem(margin, 2%, 2%);

		
		#central {

			width: 94%;
			padding: 3%;		
	
			
			@include breakpoint(medium){
				margin-top: 10px;
			}

			@include breakpoint(large){
				max-width: 800px;
				margin: 0 auto;
				margin-top: 10px;
				
				img {
						margin: 0 auto;
				}

				box-sizing: border-box;
			}

			@include responsive('min-width: 890px') {
				padding: 20px;
			}

			#body {

				#headshots, #production_skills {

					max-width: 500px;
					margin: 0 auto;

					img {
						margin-bottom: 30px;
					}
				}

				#about {
					p {
						margin-bottom: 0px;
					}
				}
			}

			#links {
				padding-top: 15px;
				width: 19%;
				margin: 0 auto;
				min-width: 120px;

				#imdb {
					float: left;
					width: 40%;

				}

				#spotlight {
					float: right;
					width: 40%;
				}
			}

			
		}
		
	
	header {	

		
		#logo {

		  	text-align: center;
		 	color: $primary-color;
			@include rem(font-size, 24px);
			@include rem(line-height, 10px);

			@include responsive('min-width: 400px') {
			 	@include rem(font-size, 29px);
			 	@include rem(margin-bottom, 33px);
			 	margin: 2.5%;

			}

			@include breakpoint(medium){
				@include rem(font-size, 36px);
				@include rem(margin-top, 55px);
				
				
			}

			@include breakpoint(large){
				@include rem(font-size, 38px);
				@include rem(margin-top, 55px);
				
			}

		  		a {
		    		color: $primary-color;
		  		}	  
		}

		#mobile_nav {

			@include breakpoint(medium){
				display: none;
			}

		}

		#nav {
			
			margin: 0 auto;
			overflow: hidden;
			display: none;
			text-align: center;

			@include breakpoint(medium){
				display: block;
			}

			.menu {
				display: inline-block;
				margin: 1% 0 0 0;

				li {
					a {
						-webkit-border-radius: 3px;
                		border-radius: 3px;
      					padding: 5px 15px 7px 15px;
 
      					@include breakpoint(medium){
							padding: 8px 15px 3px 15px;
						}

						&.nav-selected {
							background: $fifth-color;
							color: $primary-color;
						}
					}
				}
			}

		}

		#gallery_selection {
			text-align: center;

			.menu {
				display: inline-block;
				margin: 1% 0 0 0;

				li {
					a {
						-webkit-border-radius: 5px;
                		border-radius: 5px;
                		padding-top: 7px;
                		padding-bottom: 4px;
                		@include rem(font-size, 14px);


						&.nav-selected {
							background: $fifth-color;
							color: $primary-color;
						}
					}
				}
			}

		}

		#gallery_selection_mobile {

			.mobile_menu {
				list-style-type: none;
				padding: 0;

				li {
					width: 49.5%;


					&.left_button {
						float: left;
					}

					&.right_button {
						float: right;
					}

					&.left_button, &.right_button {
						text-align: center;
						text-transform: uppercase;
					}

					a{
						display: block;
						padding: 4px 4px 0px 4px;
						color: #ffffff;
						letter-spacing: 4px;
						@include rem(font-size, 14px);
						-webkit-border-radius: 3px;
                		border-radius: 3px;


						&.nav-selected {
							background: $primary-color;
						}

						background: $fourth-color;
					
					}
				}
			}
		}

	}

	
}
	 	




