body {
  
  font-family: 'Linden Hill', serif; 
  font-weight: 400;
  font-style: normal;
  font-size:100%;
  line-height:1.6;
}

html {
  font-size: 62.5%; 
}
blockquote {
  font-style: italic;
  font-weight: 400;
  padding-left: 25px;
  font-size: 26px;
  margin: 0 0 25px;
  border-left:2px solid $primary-color;
} 

#logo {
  text-align: center;
  a {
    color: $primary-color;
  }
  color: $primary-color;
  @include rem(font-size, 35px);
  @include rem(margin-top, 25px);
  @include rem(line-height, 70px);
  
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5 {
  @include rem(font-size, 23px);
  @include rem(line-height, 25px);
  text-align: left;
  margin: 0px 0px 16px 0px;
  color: rgba(132, 30, 30, 1);
  font-family: "Libre Baskerville";
  border-width: 1px 0px;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
  text-transform: uppercase;


}

p {
  margin: 0 0 $padding/2;
}

p {
   @include rem(font-size, 27px);
   @include rem(line-height, 29px);
   margin: 0px 0px 8px 0px;
   color: rgba(114, 114, 114, 1);
   font-family: "Linden Hill";
   font-weight: 400;
   font-style: normal;  
}

pre{
  
  margin:0 0 $padding/2;
  padding:10px;
  background:#f5f5f5;
  border:1px solid rgba(0,0,0,.1);
  display:block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}